<a [routerLink]="[patientId]" class="list-group-item clearfix">
	<div class="pull-left">
		<h3 class="list-group-item-heading">{{patient.name}}</h3>
		<p class="list-group-item-text">Age: {{patient.age}}</p>
    <p class="list-group-item-text">Birthday: {{patient.birthday.day}}/{{patient.birthday.month}}/{{patient.birthday.year}}</p>
    <p class="list-group-item-text">Phone Number: {{patient.telephone}}</p>
    <p class="list-group-item-text">Email: {{patient.email}}</p>
    <p class="list-group-item-text">Physician: {{patient.physician}}</p>
  </div>
	<span class="pull-right">
		<img class="img-responsive" width="200" src="{{patient.imagePath}}" style="...">
	</span>
</a>
